/* You can add global styles to this file, and also import other style files */
*{
margin:0;
padding:0;
}

html { height: 100%; }
body {height: 100%; }

@font-face{
    font-family: "EA";
    src: url(assets/fonts/EASPORTS15.ttf)
}