<div class="bg">
    <img src="assets/players/tomas-jurina.png" class="mascot">
    <div class="header">
        <span style="color: rgb(123, 224, 110)">F</span>IFA<br>
        <span style="color: rgb(123, 224, 110)">T</span>OURNAMENT<br>
        <span style="color: rgb(123, 224, 110)">G</span>ENERATOR
    </div>
    <div class="footer">
        <span class="superscript">©</span>
        <span id="primary">MDMA</span>
        <p id="secondary">Multifunctional Database Mladost Application</p>
    </div>
    <div class="next">
        <p id="pot">></p>
    </div>
</div>
