.bg {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 22%, #6cd2f9 95%);
  height: 100%;
}

.header{
  font-family: EA,sans-serif;
  font-size: 7rem;
  padding-left: 48%;
  padding-top: 10%;
  line-height: 1.3;
  color: rgb(228, 224, 224);
  filter: drop-shadow(10px 5px 5px rgba(34, 34, 34, 0.45));
}

.footer{
  font-family: sans-serif;
  padding-left: 43%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  color: rgb(233, 233, 233);
}

.next{
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 8rem;
  color: rgb(233, 233, 233);
  filter: drop-shadow(10px 5px 5px rgba(34, 34, 34, 0.45));
  cursor: pointer;
  transition-duration: 0.75s;
}

.next:hover{
  filter: drop-shadow(10px 5px 5px rgba(34, 34, 34, 0.85));
  
}

#primary{
  font-size: 0.75rem;
}
#secondary{
  font-size: 0.55rem;
}

.superscript { position: relative; top: -0.5em; font-size: 60%; }

.mascot {
  width: 40%;
  height: auto;
  position: absolute;
  left: 0px;
  bottom: 0px;
  filter: drop-shadow(100px 50px 5px rgba(34, 34, 34, 0.45));
  transition-duration: 0.75s;
}

#pot {
  position: relative;
  animation: infinite nextPage 2.4s;
}

@keyframes nextPage {
  0%   {left: 0px; top: 0px;}
  25%  {left: 1.5rem;}
  100% {left: 0px; top: 0px;}
}